# Ignore everything:
*

# Except for the themes directories:

!README.md

!catalog/controller/api/pluggto.php
!catalog/model/extension/module/api/pluggto.php

!admin/pluggto_cron.php
!admin/controller/extension/module/pluggto.php
!admin/model/extension/module/pluggto.php
!admin/language/pt-br/extension/module/pluggto.php
!admin/language/en-gb/extension/module/pluggto.php
!admin/view/template/extension/module/pluggto.twig
!admin/view/template/extension/module/pluggto_fields.twig
!admin/view/template/extension/module/pluggto_load_queue.twig
!admin/view/template/extension/module/pluggto_products_sync.twig
!admin/view/template/extension/module/pluggto_queue.twig

